.box{
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 250px;
}
.box2{
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 250px;
}

.flex-box{
    position: relative;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.home-link{
    margin-right: 10px;
}
.containDiv{
    margin:20px
}

.documentTitle{
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}
.editBtn{
    position: absolute;
    top:0;
    right: 0;
}
.editGrp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkBtn{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: rgb(45, 15, 115);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 3px;
}

.loginPage{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 30%;

    width: 100%;

}
.inputStyle{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.styledBtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}